  #title {
    text-align: center;
    font-size: 48px;
  }

  #search-box   {
    margin: 0 auto;
      max-width: 80%;
  }
  #search-bar   {
      width: 80%;
      bottom: 0px;
      margin-bottom: 0px
  }
  #search-button   {
      margin-top: 0%;
      display: inline;
  }
  #temporary    {
      text-align: center;
  }