<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <script src="https://use.fontawesome.com/639e5b5645.js"></script>

    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://db.onlinewebfonts.com/c/97294bc26984beb9185137b039854f9b?family=D-DIN" rel="stylesheet"
        type="text/css" />
    <link href="https://db.onlinewebfonts.com/c/8e59fdbc7a7fdb1bab1b12af14615047?family=ITCAvantGardeGothicW05-Book"
        rel="stylesheet" type="text/css" />
    <title>Museum Search Tool</title>
</head>

<body id="home">
    <div class="BristolMuseum">
        <a href="/">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.OCdb4ZnlSV7vmUEh3SXcjwHaFl%26pid%3DApi&f=1"
                alt="Bristol museum logo" height="100">
                
        </a>
        <button class="dropdown-btn navBut"><a href="/infographics">Infographics</a></button>
        <button class="dropdown-btn navBut"><a href="/search">Search</a></button>
        <button class="dropdown-btn navBut"><a href="/about">About</a></button>
        <button class="dropdown-btn navBut" onclick="helpPopup()" id="a">Help</button>
        <div class="popupNoArrow">
            <span class="help hide l4">The Bristol museum logo will always link back to the home page.</span>
        </div>
    </div>
    <br>
    <h1 id="title">Hidden Museums Advanced Search Tool</h1>
    <main class="content">
        <div id="search-box" action="search">
            <form class="form" action="/search" onsubmit="cleanURL()">
                <div class="input-group mb-3">
                    <input id="q" name="q" class="form-control" type="text" placeholder="Search">
                    <button id="search-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <table class="table" id="filters">
                    <tr>
                        <th scope="col">Filter</th>
                        <div class="popup">
                            <span class="help hide l3">Change what field your input will be applied to.</span>
                        </div>
                        <th scope="col">Option</th>
                        <div class="popup">
                            <span class="help hide l2">Do you want to include or exlude the field</span>
                        </div>
                        <th scope="col">Input</th>
                        <div class="popup">
                            <span class="help hide l1">Put your case sensitive query here.</span>
                        </div>
                        <th scope="col"></th>
                    </tr>
                    <tr class="Filter1">
                        <td id="dropdown">
                            <select name="values">
                                <option th:each="i : ${fieldList}" th:value="${i}"
                                    th:with="prettyField=${i.replaceAll('_', ' ')}"
                                    th:text="${#strings.capitalize(prettyField)}" th:selected='${i=="medium"}'>
                                </option>
                            </select>
                        </td>
                        <td>
                            <select name="values">
                                <option value="refineBy">Refine</option>
                                <option value="excludeBy">Exclude</option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="values" placeholder="Input">
                        </td>
                        <td><input type="button" class="Filter1 btn btn-danger" value="Remove Filter"
                                onclick="removeRow(this)" /></td>
                    </tr>
                </table>
                <input type="button" class="btn btn-success" value="Add Filter" onclick="createRow()"></input>
            </form>
            <div class="popupNoArrow">
                <span class="help hide l5">Put your case sensitive query here.</span>
            </div>
        </div>
    </main>
</body>
<script>
    //global variable that says the number of rows in the table. just so each new row gets a unique ID. Necessary in previous versions.
    let NUM_ROWS = 1;

    //global variable that defines the dropdown menu in the filters. NECESSARY because applying thymeleaf things
    //at runtime does not work. also you could delete the original filter, so this must be stored!
    let DROPDOWN_CONTENT = document.getElementById("dropdown").innerHTML;

    //remove a row from the table
    function removeRow(item) {
        let i = item.parentNode.parentNode.rowIndex;
        console.log(i);
        document.getElementById("filters").deleteRow(i);
        NUM_ROWS--;
    }
    //add a new working filter to the table
    function createRow() {
        let filterNum = NUM_ROWS + 1;
        let table = document.getElementById("filters");
        let row = table.insertRow(filterNum);
        let dropdown = row.insertCell(0);
        dropdown.innerHTML = DROPDOWN_CONTENT;
        let option = row.insertCell(1);
        option.innerHTML = "<select name=\"values\">\n" +
            "                                <option value=\"refineBy\">Refine</option>\n" +
            "                                <option value=\"excludeBy\">Exclude</option>\n" +
            "                            </select>"
        let input = row.insertCell(2);
        input.innerHTML = "<input class=\"form-control\" type=\"text\" name=\"values\" placeholder=\"Input\">";
        let remove = row.insertCell(3);
        let className = "\"Filter" + filterNum.toString() + " btn btn-danger\"";
        remove.innerHTML = "<input type=\"button\" class=" + className + "\"" +
            " value=\"Remove Filter\" onclick=\"removeRow(this)\"/>";
        NUM_ROWS++;
    }

    function helpPopup() {
        const helps = document.getElementsByClassName("help");
            for (let i = 0; i < helps.length; i++) {
                helps[i].classList.toggle("show");
                helps[i].classList.toggle("hide");
            }
        }
</script>

</html>