<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Infographics</title>
    <script src="https://use.fontawesome.com/639e5b5645.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js" integrity="sha512-klQv6lz2YR+MecyFYMFRuU2eAl8IPRo6zHnsc9n142TJuJHS8CG0ix4Oq9na9ceeg1u5EkBfZsFcV3U7J51iew=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link href="//db.onlinewebfonts.com/c/97294bc26984beb9185137b039854f9b?family=D-DIN" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/8e59fdbc7a7fdb1bab1b12af14615047?family=ITCAvantGardeGothicW05-Book"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
<div class="BristolMuseum stay">
    <a href="/">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.OCdb4ZnlSV7vmUEh3SXcjwHaFl%26pid%3DApi&f=1"
             alt="Bristol museum logo" height="100">
    </a>
    <button class="dropdown-btn navBut"><a href="/search"> Back to search</a></button>
</div>
<br>
<br>
<br>
<br>
<br>
    <div class="zoomButtons">
        <b>Zoom buttons</b>
        <br>
        <button  class="zoom" onclick="myZoomIn()"> + </button>
        <button  class="zoom" onclick="myZoomOut()"> - </button>
        <button  class="" onclick="myResetZoom()">Reset Zoom</button>
    </div>

    <div id="chartWrapper">
        <canvas id="myChart"></canvas>
    </div>
    <ul class="hiddenBullet" id="infoLinks">

    </ul>
</body>
<script th:inline="javascript">
    const datesToInclude = /*[[${datesToInclude}]]*/[];
    const numOfDates = /*[[${numOfDates}]]*/[];
    const datesOfItems = /*[[${datesOfItems}]]*/[];
    const ListOfTitles = /*[[${ListOfTitles}]]*/[];
    const ids = /*[[${ids}]]*/[];
    const usedDates = /*[[${usedDates}]]*/[];
    const numOfDatesNonZero = /*[[${numOfDatesNonZero}]]*/[];

    const numOFLinksMax = Math.max.apply(Math, numOfDates);

    const data = {
        labels: datesToInclude,
        datasets: [{
            label: 'Artworks by time',
            borderColor: 'rgb(255, 99, 132)',
            data: numOfDates,
            barThickness: 4,
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
            ],
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options:    {
            responsive: true,
            plugins: {
                zoom:   {
                    pan:    {
                        enabled: true,
                        mode: 'x',
                        modifierKey: 'ctrl'
                    },
                    zoom:   {
                        mode: 'x',
                        wheel: {
                            enabled: true
                        },
                        drag:   {
                            enabled: true
                        },
                        pinch:  {
                            enabled: true
                        }
                    }
                }
            },
            layout: {
                padding: 40,
            },
            onClick: (event, activeElements) => {
                console.log("getElementsAtEventForMode: %o", myChart.getElementsAtEventForMode(event, "nearest", { intersect: false }));
                var whereAt = myChart.getElementsAtEventForMode(event, "point", { intersect: false });
                try {
                    console.log(whereAt[0].index);
                    console.log("===== </CLICK EVENT> =====");
                    //add a child to the list
                    let titleChunk = ListOfTitles[datesOfItems.indexOf(whereAt[0].index + datesToInclude[0])];
                    let titles = titleChunk.split("|");
                    let list = document.getElementById("infoLinks");
                    list.innerHTML = '';
                    for (const title of titles) {
                        let item = document.createElement("li");
                        let link = document.createElement("a");
                        link.innerText = title;
                        link.setAttribute("href", "/");
                        item.appendChild(link);
                        list.appendChild(item);
                    }

                    var indexOfIdList = 0;
                    for (var i=0; i < whereAt[0].index; i++) {
                        indexOfIdList += numOfDates[i];
                    }

                    console.log(indexOfIdList);

                    var sizeOfThisClump = numOfDates[whereAt[0].index]; //how many records are there in the next group
                    console.log(sizeOfThisClump)
                    var children = list.children;
                    for (var i = 0; i < sizeOfThisClump ; i++) {
                        var linkChild = children[i];
                        linkChild.children[0].setAttribute('href', '/item/open-data-gallery-3-european-old-masters/' + ids[i + indexOfIdList]);
                    }
                    //container.get
                } catch (error) {
                    console.log(error)
                }
            }
        }
    };
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    function myResetZoom()    {
        myChart.resetZoom();
    }

    function myZoomIn()     {
        myChart.zoom(1.1);
    }

    function myZoomOut()    {
        myChart.zoom(0.9);
    }
</script>