<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Lookup result</title>
</head>

<body>
    <a class="go-home" href="/">Go Home</a>
    <a class="go-home" href="/">return (not usable)</a>
    <a class="go-home" href="/">export (not usable)</a>
    <hr class="hr-class">
    <div style="width: 100%; overflow:auto;">
        <div th:each="field : ${response.fields}">
            <div th:switch="${field.key}">
                <div class="left">
                    <div th:case="'title_of_object'">
                        <h1 th:text="${field.value}"></h1>
                        <br>
                        <div class="left">
                            <table class="styled-table">
                                <tr>
                                    <th>Field</th>
                                    <th>Info</th>
                                </tr>
                                <div th:each="field : ${response.fields}">
                                    <tbody>
                                        <tr>
                                            <td th:text="${field.key}"></td>
                                            <td th:text="${field.value}"></td>
                                        </tr>
                                    </tbody>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
                <div th:case="'image_of_object'">

                    <img th:src="'https://opendata.bristol.gov.uk/explore/dataset/open-data-gallery-3-european-old-masters/files/'+${field.value.get('id')}+'/300'" alt="image of object" id="right">
                    <br>
                </div>
                <div th:case="*"></div>
            </div>
        </div>
    </div>
</body>

</html>