<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search results</title>
    <script src="https://use.fontawesome.com/639e5b5645.js"></script>

    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <main class="content">
        <a class="go-home btn btn-secondary btn-lg" href="/">Go Home</a>
        <a class="go-home btn btn-secondary btn-lg" download="data.json" th:href="${exportJSON}" target="_blank">Export JSON</a>
        <a class="go-home btn btn-secondary btn-lg" download="data.csv" th:href="${exportCSV}" target="_blank">Export CSV</a>
        <hr class="hr-class">
        <p>
            <th:block th:if="${response.nhits!= 1}" th:text="${response.nhits} + ' results found for '"/>
            <b th:if="${response.nhits!= 1}" th:text="${query}"></b>
        </p>
        <p>
            <th:block th:if="${response.nhits == 1}" th:text="${response.nhits} + ' result found for '"/>
            <b th:if="${response.nhits== 1}" th:text="${query}"></b>
        </p>
        <div id="search-box" action="search">
            <form class="form" action="/search">
                <div class="input-group mb-3">
                    <input id="q" name="q" class="form-control" type="text" placeholder="Search">
                    <button id="search-button" class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="dropdown-container">
            <button class="dropdown-btn ">Items per page</button>
            <div class="dropdown-items">
                <a class="nhits" href="/">10</a>
                <a class="nhits" href="/">25</a>
                <a class="nhits" href="/">50</a>
            </div>
        </div>
        <ul class="hiddenBullet">
            <li th:each="record : ${response.records}">
                <a class="link" th:href="'/item/' + ${record.datasetid} + '/' + ${record.recordid}">
                    <span th:text="${record.fields.get('title_of_object')}"></span>
                    <span th:if="${record.fields.get('artist')}"
                        th:text="'by ' + ${record.fields.get('artist')}"></span>
                    <div class="hover">
                        <img th:if="${record.fields.get('image_of_object')}"
                            th:src="'https://opendata.bristol.gov.uk/explore/dataset/open-data-gallery-3-european-old-masters/files/'+${record.fields.get('image_of_object').get('id')}+'/300'"
                            alt="image of object">
                    </div>
                </a>
                <p class="description" th:text="${#strings.abbreviate(record.fields.getOrDefault('label', 'Description unavailable.'), 160)}"></p>
            </li>
        </ul>
        <ul class="hiddenBullet pageButtons">
            <li>
                <a class="pagenum" id="prev" th:value="${pageNumber}" th:text="'Previous'" ></a>
            </li>
            <li th:text="'You are on page ' + ${pageNumber}"></li>
            <li>
                <a class="pagenum" id="next" th:value="${pageNumber}" th:maxValue="${pages}" th:text="'Next'"></a>
            </li>
        </ul>
        <ul class="hiddenBullet pageNumber">
            <li th:each="i : ${#numbers.sequence(1, pages)}">
                <a class="pagenum" th:text="${i}"></a>
            </li>
        </ul>
    </main>

    <script type="text/javascript">
        function onLoad() {
            const query = window.location.search;
            const params = new URLSearchParams(query);

            const search_box = document.getElementById("q");
            search_box.value = params.get("q");

            for (const a of document.getElementsByClassName("pagenum")) {
                const url = new URL(window.location.href);
                url.searchParams.set("page", a.innerHTML - 1);
                a.href = url;
            }
            //page previous navigation button
            const previous = document.getElementById("prev");
            const prevUrl = new URL(window.location.href);
            if(previous.value > 0)  {
                let newVal = (previous.value - 1).toString();
                prevUrl.searchParams.set("page", newVal);
                previous.href = prevUrl;
            }
            else    {
                previous.style.visibility = "hidden";
            }

            //page next navigation button
            const next = document.getElementById("next");
            const nextUrl = new URL(window.location.href);
            if(next.value < next.maxValue) {
                let newVal = (next.value + 1).toString();
                nextUrl.searchParams.set("page", next.value + 1);
                next.href = nextUrl;
            }
            else    {
                next.style.visibility = "hidden";
            }

            for (const a of document.getElementsByClassName("nhits")) {
                const url = new URL(window.location.href);
                url.searchParams.set("nhits", a.innerHTML);
                url.searchParams.set("page", 0);
                a.href = url;
            }
        }

        window.onload = onLoad();
    </script>
</body>

</html>