  #title {
    text-align: center;
    font-size: 48px;
  }

  #search-box   {
    margin-left: 25%;
    max-width: 35%;
  }
  #search-bar   {
      width: 90%;
      bottom: 0px;
      margin-bottom: 0px
  }
  #search   {
      margin-top: -6.5%;
  }
  #temporary    {
      text-align: center;
  }